:root {
  --red-lighten-2: #e57373;
  --red-lighten-5: rgba(255, 235, 238, 0.4);
  --white: #fafafa;
  --main-bg: #fffcfc;
  --grey-darken-3: #424242;
  --grey-darken-33: rgba(66, 66, 66, 0.3);
  --pink: #e91e63;
  --grey-darken-1: #bdbdbd;
}
